//rgb-colors
$operators: rgb(220, 20, 60);
$clear-and-equal: rgb(0, 0, 211);
$calculator-bg-dark: rgb(0,0,0);
$numbers: rgb(24, 23, 23);
$white: rgb(255,255,255);
//clicked--success-colors
$numbers-clicked--success: rgb(0, 140, 0);
$operators-clicked--success: rgb(182, 0, 40);
$clear-and-equal-clicked--success: rgb(0, 0, 180);

//font-sizes
$font-size-xxl: 3.2rem;
$font-size-xl: 2.8rem;

$gap-sm: 8px;